.display-none {
    display: none !important;
}

.btn {
    margin-right: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

@keyframes sucessFade {
    0% {
        background-color: #c3f3d7;
    }

    100% {
        background-color: #fff;
    }
}

.success-fade {
    background-color: #fff;

    animation-name: sucessFade;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}
