.display-none {
    display: none !important;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

blockquote.alert {
    line-height: 40px;
    border-radius: 4px;
    border-left: 8px solid #bababa;
}

blockquote.alert#alert-error {
    border-color: #ff4757;
    background: #ffe0e3;
    color: #ff4757
}


@keyframes sucessFade {
    0% {
        background-color: #c3f3d7;
    }

    100% {
        background-color: #fff;
    }
}

.success-fade {
    background-color: #fff;

    animation-name: sucessFade;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}
